<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:tsm="http://java.sun.com/jsf/composite/tsm">
        
	<p:menubar>
		<p:menuitem value="Home" actionListener="#{indexController.navigateToControlDashboard()}"  update=":ccp"/>
	    <p:submenu label="Projects" icon="ui-icon-document">	
	    	<p:menuitem value="Option1"/>
	    	<p:menuitem value="Option2"/>
	    	<p:menuitem value="Option3"/>	    
	    </p:submenu> 
	    <p:submenu label="User management" icon="ui-icon-document">
			<p:menuitem value="View users"  actionListener="#{indexController.navigateToControlViewUser()}"  update=":ccp"/>
		  	<p:menuitem value="Register user" actionListener="#{indexController.navigateToControlRegisterUser()}" update=":ccp"/>
		  	<p:menuitem value="Delete user"  actionListener="#{indexController.navigateToControlDeleteUser()}" update=":ccp"/>
	    </p:submenu>	 
	    <p:submenu label="Do ..." icon="ui-icon-document">
	    	<p:menuitem value="... not click me :-)" url="http://img.myconfinedspace.com/wp-content/uploads/2009/10/united-federation-of-awesomeness.jpg" icon="ui-icon-close" />
	    </p:submenu>
	</p:menubar>


</ui:composition>