<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
  	xmlns:composite="http://java.sun.com/jsf/composite"
  	xmlns:h="http://java.sun.com/jsf/html"
  	xmlns:p="http://primefaces.org/ui"
  	xmlns:pm="http://primefaces.org/mobile">

    <h:head>
    </h:head>
    <h:body>
        <composite:interface>
        	<composite:attribute name="pageTitle" required="true"/>
        </composite:interface>
        <composite:implementation>
      		<pm:header title="#{cc.attrs.pageTitle}">
            <h:form id="headerForm">
                <p:commandButton action="logout" styleClass="ui-mini ui-btn-right ui-btn-inline" value="Logout"/>
            </h:form>
            </pm:header>
        </composite:implementation>
    </h:body>
</html>