<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
  	xmlns:composite="http://java.sun.com/jsf/composite"
  	xmlns:h="http://java.sun.com/jsf/html"
  	xmlns:p="http://primefaces.org/ui"
  	xmlns:pm="http://primefaces.org/mobile">

    <h:head>
    </h:head>
    <h:body>
        <composite:interface>
        	<composite:attribute name="activePage" required="true"/>
        </composite:interface>
        <composite:implementation>
        	<pm:footer fixed="true">
	        	<h:form id="menuForm">
	            	<p:tabMenu activeIndex="#{cc.attrs.activePage}" styleClass="ui-state-persist">
	                    <p:menuitem value="Dashboard" action="dashboard" icon="ui-icon-home" iconPos="top" styleClass="hide-page-loading-msg"/>
	                    <p:menuitem value="Projects" action="projects" icon="ui-icon-grid" iconPos="top" styleClass="hide-page-loading-msg"/>
	                    <p:menuitem value="Reports" action="reports" icon="ui-icon-bars" iconPos="top" styleClass="hide-page-loading-msg"/>
	                    <p:menuitem value="Settings" action="settings" icon="ui-icon-gear" iconPos="top" styleClass="hide-page-loading-msg"/>
	                </p:tabMenu>
	        	</h:form>
	        </pm:footer>
        </composite:implementation>
    </h:body>
</html>