<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:tsm="http://java.sun.com/jsf/composite/tsm">

    <h:head>            
    	<title>Home</title>
    </h:head>
    <h:body>
    	<h:form>
  			<ui:include src="/controls/controlMenu.xhtml"/>
	    </h:form>
	    <p:layout fullPage="false" style="min-width:400px;min-height:400px;">
			<p:layoutUnit position="center">
				<h:panelGroup id="ccp">
		    		<ui:include src="#{indexController.selectedTemplate}"/>
		    	</h:panelGroup>
		    </p:layoutUnit>
		    <p:layoutUnit position="east" size="200" header="News" resizable="true" closable="true" collapsible="true" effect="drop">
	                <h:outputText value="Java is really an island!" />
	        </p:layoutUnit> 
        </p:layout>
    </h:body>
</html>

