<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:tsm="http://java.sun.com/jsf/composite/tsm">
        <h3>View registered users</h3>
        <h:form>
             <p:dataTable id="userTable" var="user" value="#{userController.currentUsers}" tableStyleClass="ui-table-columntoggle">
                 <p:column headerText="Id">
                     <h:outputText value="#{user.id}" />
                 </p:column>
                 <p:column headerText="Name">
                     <h:outputText value="#{user.name}" />
                 </p:column>
                 <p:column headerText="EMail">
                     <h:outputText value="#{user.email}" />
                 </p:column>
             </p:dataTable>
         </h:form>


</ui:composition>