<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:tsm="http://java.sun.com/jsf/composite/tsm">
        
        <h3>Template 1</h3>
        <h:form>
	         <p:growl id="deleteNotice" showDetail="true"/>
             <p:outputLabel for="selectOneMenu" value="User" />
             <p:selectOneMenu id="selectOneMenu" value="#{userController.currentUser}" var="u">
                 <f:selectItem itemLabel="Select One" itemValue="" />
                 <f:selectItems id="selectOneMenuItems" value="#{userController.currentUsers}"  
                                var="user" itemLabel="#{user.name}" itemValue="#{user.id}"/>
             </p:selectOneMenu>		
	         <p:commandButton id="deleteButton" value="Delete" actionListener="#{userController.deleteUser()}" update="deleteNotice selectOneMenuItems"/>
		</h:form>
</ui:composition>