<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:tsm="http://java.sun.com/jsf/composite/tsm">
        
   <h3>Register user</h3>
   <h:form>
        <p:growl id="saveNotice" showDetail="true" sticky="true" />  
        <p:outputLabel for="userName" value="Name:" /> 
        <p:inputText id="userName" value="#{userController.currentUser.name}" />
        <p:outputLabel for="userEmail" value="E-Mail:" /> 
        <p:inputText id="userEmail" value="#{userController.currentUser.email}" />
        <h:outputLabel for="password" value="Password:" />
        <p:password id="password" value="#{userController.password}" feedback="true" inline="true" />
	
        <p:commandButton value="Save" action="#{userController.saveUser()}" update="saveNotice userName userEmail" ajax="false"/>
    </h:form> 
</ui:composition>